
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="experience-section">
    <section class="section experience" id="experience">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">Work Experience</h2>
                <p class="section-subtitle">
                    My professional journey and educational background
                </p>
            </div>
            <div class="timeline">
                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Jan 2025 - Present</div>
                        <h3 class="timeline-title">Java Software Developer (intern)</h3>
                        <h4 class="timeline-subtitle">Cybrome Technology Pvt. Ltd</h4>
                        <p class="timeline-description">
                            Java Full Stack Internship where I worked on frontend and backend modules using HTML, CSS, JavaScript, Java, and Spring Boot. I developed basic REST APIs, performed CRUD operations, and worked with MySQL for database handling. I also used Git/GitHub for version control and collaborated with the team on project tasks. This internship helped me gain practical experience in full-stack development and improved my technical skills.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-code"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">oct 2025 - Nov 2025</div>
                        <h3 class="timeline-title">Java Software Developer (intern)</h3>
                        <h4 class="timeline-subtitle">HexSoftwares Pvt. Ltd</h4>
                        <p class="timeline-description">
                            Java Full Stack Internship where I worked on frontend and backend modules using HTML, CSS, JavaScript, Java, and Spring Boot. I developed basic REST APIs, performed CRUD operations, and worked with MySQL for database handling. I also used Git/GitHub for version control and collaborated with the team on project tasks. This internship helped me gain practical experience in full-stack development and improved my technical skills.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">Aug 2022 - Nov 2023</div>
                        <h3 class="timeline-title">Data-entry Operator cum Coordinator</h3>
                        <h4 class="timeline-subtitle">Aov International llp Pvt. Ltd</h4>
                        <p class="timeline-description">
                            manage and enter data and coordinate with field engineers and update hnf call.
                        </p>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2024 - present</div>
                        <h3 class="timeline-title">Millennium Group of Institutions</h3>
                        <h4 class="timeline-subtitle">M.Tech(Computer Science & Engineering)</h4>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2021 - 2024</div>
                        <h3 class="timeline-title">Millennium Group of Institutions</h3>
                        <h4 class="timeline-subtitle">B.Tech(Computer Science & Engineering)</h4>
                    </div>
                </div>

                <div class="timeline-item">
                    <div class="timeline-icon">
                        <i class="fa-solid fa-chalkboard-user"></i>
                    </div>
                    <div class="timeline-content">
                        <div class="timeline-date">2018 - 2021</div>
                        <h3 class="timeline-title">Millennium Group of Institutions</h3>
                        <h4 class="timeline-subtitle">Diploma(Computer Science & Engineering)</h4>
                    </div>
                </div>
            </div>

        </div>
    </section>

</th:block>
</html>