
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
    <section class="section projects" id="projects">
        <div class="container">
            <div class="section-title-container">
                <h2 class="section-title">My Projects</h2>
                <p class="section-subtitle">
                    Explore some of my projects.
                </p>
            </div>
            <div class="projects-container">
                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail6.jpg" alt="Online-Voting-System">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">PHP</span>
                            <span class="project-tag">Javascript</span>
                            <span class="project-tag">html | css</span>
                            <span class="project-tag">Bootstrap CSS</span>
                            <span class="project-tag">MySQL</span>
                            <span class="project-tag">Postman</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Online-Voting-System</h3>
                        <p class="project-description">
                            Online Voting System a platform where users can register, log in, and cast their votes digitally, ensures data integrity with unique voter authentication and prevents multiple voting attempts, use to create a fast, secure, and modern web-based voting application suitable for schools, colleges, and small organizations.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/nikitanimore992/online-voting-system" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://github.com/nikitanimore992/online-voting-system" class="project-link">
                                Watch <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail5.jpg" alt="MiniStoreE-commerce">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Vite+React</span>
                            <span class="project-tag">Bootstrap CSS</span>
                            <span class="project-tag">Javascript</span>
                            <span class="project-tag">html | css</span>
                            <span class="project-tag">Bootstrap CSS</span>
                            <span class="project-tag">Json-Api</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">MiniStoreE-commerce</h3>
                        <p class="project-description">
                            MiniStore e-commerce features such as product listing, filtering, cart system, and checkout flow,The app allows users to browse products, view details, add items to the cart, and experience a smooth, responsive shopping interface.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/nikitanimore992/MiniStoreE-commerce" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="mini-store-e-commerce.vercel.app" class="project-link">
                                Watch<i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="project-card">
                    <div class="project-image">
                        <img src="/images/thumbnail2.jpg" alt="Ener Tracker">
                        <div class="project-overlay"></div>
                        <div class="project-tags">
                            <span class="project-tag">Vite+React</span>
                            <span class="project-tag">Bootstrap CSS</span>
                            <span class="project-tag">Javascript</span>
                            <span class="project-tag">html | css</span>
                            <span class="project-tag">Bootstrap CSS</span>
                            <span class="project-tag">Json-Api</span>
                        </div>
                    </div>
                    <div class="project-content">
                        <h3 class="project-title">Blood bank Management System</h3>
                        <p class="project-description">
                            Blood Bank Management System to streamline the process of managing blood donors, blood stock, and patient requests digitally.
                            The system allows admins to update blood availability, manage donor records, and handle blood request approvals efficiently.
                        </p>
                        <div class="project-links">
                            <a href="https://github.com/nikitanimore992/donatethebloodphp" class="project-link" target="_blank">
                                <i class="fab fa-github"></i> View Code
                            </a>
                            <a href="https://github.com/nikitanimore992/donatethebloodphp" class="project-link">
                                Watch <i class="fa-solid fa-eye"></i>
                            </a>
                        </div>
                    </div>
                </div>

<!--                <div class="project-card">-->
<!--                    <div class="project-image">-->
<!--                        <img src="/images/thumbnail3.jpg" alt="Freelance retail billing software">-->
<!--                        <div class="project-overlay"></div>-->
<!--                        <div class="project-tags">-->
<!--                            <span class="project-tag">Spring Boot</span>-->
<!--                            <span class="project-tag">React</span>-->
<!--                            <span class="project-tag">Bootstrap</span>-->
<!--                            <span class="project-tag">MySQL</span>-->
<!--                            <span class="project-tag">AWS</span>-->
<!--                            <span class="project-tag">IntelliJ IDEA</span>-->
<!--                            <span class="project-tag">Full Stack</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="project-content">-->
<!--                        <h3 class="project-title">Freelance Retail Billing Software</h3>-->
<!--                        <p class="project-description">-->
<!--                            In this video, we will build a freelance retail product for one of the electronics business that automate their billing system.-->
<!--                        </p>-->
<!--                        <div class="project-links">-->
<!--                            <a href="https://topmate.io/scbushan05/1498190" class="project-link" target="_blank">-->
<!--                                <i class="fab fa-github"></i> View Code-->
<!--                            </a>-->
<!--                            <a href="https://youtu.be/_UNE39gZrV4" class="project-link">-->
<!--                                Case Study <i class="fas fa-arrow-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="project-card">-->
<!--                    <div class="project-image">-->
<!--                        <img src="/images/thumbnail4.jpg" alt="PitchPro">-->
<!--                        <div class="project-overlay"></div>-->
<!--                        <div class="project-tags">-->
<!--                            <span class="project-tag">Spring Boot</span>-->
<!--                            <span class="project-tag">Spring Security</span>-->
<!--                            <span class="project-tag">React</span>-->
<!--                            <span class="project-tag">Bootstrap</span>-->
<!--                            <span class="project-tag">MySQL</span>-->
<!--                            <span class="project-tag">IntelliJ IDEA</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="project-content">-->
<!--                        <h3 class="project-title">Authify by Spring Security</h3>-->
<!--                        <p class="project-description">-->
<!--                            In this video, learn how we can secure the REST APIs using Spring security and JWT token that connects to the MySQL database.-->
<!--                        </p>-->
<!--                        <div class="project-links">-->
<!--                            <a href="https://topmate.io/scbushan05/1517072" class="project-link" target="_blank">-->
<!--                                <i class="fab fa-github"></i> View Code-->
<!--                            </a>-->
<!--                            <a href="https://youtu.be/ewGbjpFmRbw" class="project-link">-->
<!--                                Case Study <i class="fas fa-arrow-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="project-card">-->
<!--                    <div class="project-image">-->
<!--                        <img src="/images/thumbnail5.jpg" alt="todoapp">-->
<!--                        <div class="project-overlay"></div>-->
<!--                        <div class="project-tags">-->
<!--                            <span class="project-tag">Spring Boot</span>-->
<!--                            <span class="project-tag">Thymeleaf</span>-->
<!--                            <span class="project-tag">Bootstrap</span>-->
<!--                            <span class="project-tag">MySQL</span>-->
<!--                            <span class="project-tag">IntelliJ IDEA</span>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="project-content">-->
<!--                        <h3 class="project-title">Spring Boot - Todo List</h3>-->
<!--                        <p class="project-description">-->
<!--                            In this video, you will learn how to create simple yet powerful todo application with beautiful UI design.-->
<!--                        </p>-->
<!--                        <div class="project-links">-->
<!--                            <a href="https://topmate.io/scbushan05/1557034" class="project-link" target="_blank">-->
<!--                                <i class="fab fa-github"></i> View Code-->
<!--                            </a>-->
<!--                            <a href="https://youtu.be/_H5mqb40Yro" class="project-link">-->
<!--                                Case Study <i class="fas fa-arrow-right"></i>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

            </div>
        </div>
    </section>
</th:block>
</html>